<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApplication1.Properties.Settings.CAD_AutoCADConnectionString"
            connectionString="Data Source=vpp-sql04;Initial Catalog=CAD_AutoCAD;Persist Security Info=True;User ID=CAD_AllUsers;Password=qwerty!2345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>