<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcadLib.Properties.Settings.SAPRConnectionString"
            connectionString="Data Source=cad01pik;Initial Catalog=SAPR;Persist Security Info=True;User ID=cad_ar;Password=qwerty!2345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>