<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AcadLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AcadLib.Properties.Settings.SAPRConnectionString"
            connectionString="Data Source=VPP-SQL04;Initial Catalog=CAD_REVIT_STATISTICS;User ID=CAD_AllUsers;Password=qwerty!2345"
            providerName="System.Data.SqlClient" />
        <add name="AcadLib.Properties.Settings.SR_IRA_AR_DECORConnectionString"
            connectionString="Data Source=VPP-SQLTEST02;Initial Catalog=SR_IRA_AR_DECOR;Persist Security Info=True;User ID=sa;Password=VPP-SQLTEST02"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <userSettings>
    <AcadLib.Properties.Settings>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PaletteStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PaletteImageSize" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PaletteFontSize" serializeAs="String">
        <value>11</value>
      </setting>
    </AcadLib.Properties.Settings>
  </userSettings>
</configuration>
